services:
  demo:
    build:
      context: .
      dockerfile: Demo/Dockerfile
    container_name: demo
    ports:
      - "8080:8080"   # HTTP
      - "7293:8081"   # HTTPS
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_HTTP_PORTS: "8080"
      ASPNETCORE_HTTPS_PORTS: "8081"
      ENCRYPTION_KEY: "K7v5q2R1b8c9D0eF3gH4jK5lM6nO7pQ8rS9tUvWxYzA="
    depends_on:
      - db

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: db
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "YourStrong!Passw0rd"
    volumes:
      - demo_sql:/var/opt/mssql
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P \"$SA_PASSWORD\" -Q \"SELECT 1\""
        ]
      interval: 2s
      timeout: 1s
      retries: 5
      start_period: 5s

  db-init:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: db-init
    depends_on:
      - db
    volumes:
      - ./Demo/init.sql:/scripts/init.sql:ro
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd" 
    entrypoint: /bin/bash
    command: >
      -c "
      echo 'Running init.sql...';
      until 
      /opt/mssql-tools18/bin/sqlcmd -S db -U sa -P $$SA_PASSWORD -C -Q 'SELECT 1' > /dev/null 2>&1; 
      do echo 'Waiting for SQL Server...';
      sleep 2;
      done;
      echo 'Running init script...';
      /opt/mssql-tools18/bin/sqlcmd -S db -U sa -P $$SA_PASSWORD -C -i /scripts/init.sql;
      echo 'Init done.';
      "

volumes:
  demo_sql:
